@model EmployableApp.Models.IndexViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div id="regionQuestion"></div>

<div id="stateQuestion"></div>

<div id="cityFinal"></div>