@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    333 N. Plankinton<br />
    Milwaukee, WI 53203<br />
    Phone: (414) 533-0639
</address>
<address>
    <strong>Support:</strong>   <a href="mailto:damonyoung@wi.rr.com">Support@devcodecamp.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:damonyoung@wi.rr.com">Marketing@devcodecamp.com</a>
</address>