@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

        <h1>.employable</h1>
        @*<p class="btn btn-primary btn-lg">@Html.ActionLink("Learn More", "Index", "Home") &raquo; </p>*@

</div>

     <div class="row" style="height:45vh;">
    <div class="col-sm-4 image-image">
        <a href="~/Jobs/Search">
            <div class="image-wrap" style="background-image: url(http://ww2.kqed.org/pop/wp-content/uploads/sites/12/2013/03/HireMe.jpeg);">

                <div class="image-title">
                    <div class="text">
                        Search For Jobs
                    </div>
                </div>
            </div>
        </a>
    </div>

         <div class="col-sm-4 image-image">
             <a href="~/Resumes/Create">
                 <div class="image-wrap" style="background-image: url(Content/Images/coffee-cup-desk-pen.jpg);">
                     <div class="image-title">
                         <div class="text">
                             Build Your Resume
                         </div>
                     </div>
                 </div>
             </a>

         </div>
<div class="col-sm-4 image-image">
    <a href="~/Events/Index">
        <div class="image-wrap" style="background-image: url(Content/Images/numbers-time-watch-white.jpg)">
            <div class="image-title">
                <div class="text">
                    Manage Your Calendar
                </div>
            </div>
        </div>
</a>
</div>
</div>



<p style="clear: both;">

<p><a class="btn btn-default" href="">Learn more &raquo;</a></p>

