@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <div class="row">
            <span style="font-size: 30px; cursor: pointer; color: white; float: left !important;" onclick="openNav()"> &#9776; Menu</span>

            
            <div class="navbar navbar-right"> @Html.Partial("_LoginPartialCornerDisplay")</div>
        </div>
    

            <h1>.employable</h1>
            <h2>.you + .us = .hired</h2>

        </div>
</div>

     <div class="row" style="height:45vh;">
    <div class="col-sm-4 image-image">
        <a href="~/Jobs/Search">
            <div class="image-wrap" style="background-image: url(http://ww2.kqed.org/pop/wp-content/uploads/sites/12/2013/03/HireMe.jpeg);">

                <div class="image-title">
                    <div class="text">
                        Search For Jobs
                    </div>
                </div>
            </div>
        </a>
    </div>

         <div class="col-sm-4 image-image">
             <a href="~/Resumes/Create">
                 <div class="image-wrap" style="background-image: url(Content/Images/coffee-cup-desk-pen.jpg);">
                     <div class="image-title">
                         <div class="text">
                             Build Your Resume
                         </div>
                     </div>
                 </div>
             </a>

         </div>
<div class="col-sm-4 image-image">
    <a href="~/Events/Index">
        <div class="image-wrap" style="background-image: url(Content/Images/numbers-time-watch-white.jpg)">
            <div class="image-title">
                <div class="text">
                    Manage Your Calendar
                </div>
            </div>
        </div>
</a>
</div>
</div>



<p style="clear: both;">



