@model EmployableApp.Models.IndexViewModel
    @{string myCity = Model.CityName; }
<body onload="goToCity(@Model.Latitude, @Model.Longitude)"> 
@{
    ViewBag.Title = "Details";
}

<h2>City Information:</h2>


           <div id="cityName">Loading...</div>
           <div id="populationField">Loading...</div>
           <div id="cityInfo">Loading...</div>

    <div id="progress">Loading...
        
    </div>

@section Scripts {
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="~/scripts/pagination.js"></script>
    <script type="text/javascript" src="~/scripts/search.js" ></script>

}
    </body>