@model EmployableApp.Models.IndexViewModel

@{
    ViewBag.Title = "DisplayCity";
}

<h2>DisplayCity</h2>


   

   

           <div id="cityName"></div>





@section Scripts {
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="~/scripts/pagination.js"></script>
    <script type="text/javascript" src="~/scripts/search.js">
        goToCity(@Model.Latitude, @Model.Longitude);
    </script>

}
