@model EmployableApp.Models.Job

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Search</h4>

<div class="container heading-box">
    <div class="row" style="margin-top: 10vh">
        <div class="col-sm-1>"></div>
        <div class="input-group col-sm-10">
            <input type="text" class="form-control input-lg" placeholder="Keyword Search" id="search-input" />
        </div>
        </div>
    </div>
        <div class="container heading-box">
            <div class="row" style="margin-top: 10vh">
                <div class="col-sm-1>"></div>
                <div class="input-group col-sm-10">
                    <input type="text" class="form-control input-lg" placeholder="City, State" id="city-state-input" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button" onclick="keyWordSearch()">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>

            </div>
            </div>

        <div id="result">
        </div>
        <button onclick="saveJob()"> Save Checked Jobs</button> 
        <h3 id="display-message" style="text-align: center"></h3>


      

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="~/scripts/pagination.js"></script>
<script type="text/javascript" src="~/scripts/search.js"></script>

}
