@model EmployableApp.Models.Job

@{
    ViewBag.Title = "Search";
}
<div class="container">
    @Html.AntiForgeryToken()

    <div class="form-horizontal"></div>
    <h2>Search for Jobs</h2>

    <div class="container heading-box">
        <div class="row" style="margin-top: 10vh">
            <div class="col-sm-4">
                <div class="input-group">
                    <input type="text" class="form-control input-lg" placeholder="Enter keyword or company" id="search-input" />
                </div>
            </div>

            <div class="col-sm-4">
                <div class="input-group">
                    <input type="text" class="form-control input-lg" placeholder="City, State or Zip Code" id="city-state-input" />
                </div>
            </div>

            <div class="col-sm-4">
                <div class="input-group-btn">
                    <button class="btn btn-info btn-lg" type="button" onclick="keyWordSearch()">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>

        </div>
    </div>

    <div class="row"><hr /></div>

    <div class="row" id="resultHeader" hidden>
        <div class="col-sm-1"><center>Save</center></div>
        <div class="col-sm-3"><center>Job Title</center></div>
        <div class="col-sm-3"><center>Date Posted</center></div>
        <div class="col-sm-3"><center>Company</center></div>
        <div class="col-sm-2"><center>City Demographics</center></div>
        <div><hr /></div>
    </div>
       
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12" id="result">
            </div>
        </div>
    </div>


    <div id="save" hidden>
        <button onclick="saveJob()"> Save Checked Jobs</button>
    </div>
    <div id="myPager"></div>
    <h3 id="display-message" style="text-align: center"></h3>

    @*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
</div>

    @section Scripts {
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="~/scripts/pagination.js"></script>
        <script type="text/javascript" src="~/scripts/search.js"></script>

    }

